#editBlog{
    height: 100vh;
    width: 100%;
}

#previewArea{
    margin: 0px;
    padding: 0px;
}

#downloadButton{
    margin-top: 50px;
    height: 100px;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
}

#downloadHtml{
    height: 100px;
    width: 100%;
    display: block;
    text-decoration: none;
}

#downloadHtml span{
    position: relative;
    top: 30%;
    font-size: 200%;
    font-family: Cantarell;
}