.footer{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    text-align: center;
    background: #000000;
}

.footer a{
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}