.products-text{
    margin: 20px;
    font-size: 200%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.products-about-button{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    background-color: black;
    text-align: center;
    box-shadow: 6px 6px 8px lightgray;
}

.products-about-button span{
    position: relative;
    top: 20%;
    color: white;
    font-size: 150%;
    font-family: 'Josefin Sans', sans-serif;
}

.products-about-button:hover{
    opacity: 0.7;
}

.products-about-button:active{
    box-shadow: none;
}

#LiveEditHtml-icon{
    position: relative;
    left: calc(50% - 150px);
    height: 200px;
    width: 200px;
    margin: 50px;
    border-radius: 50%;
    background-image: url("../img/LiveEditHtml.png");
    background-size: 100%;
    transition: transform 300ms 0s ease, box-shadow 300ms 0s ease;
}

#LiveEditHtml-icon:hover{
    box-shadow: 0px 0px 16px 4px gray;
    transform: scale(1.2, 1.2) rotateZ(10deg);
}

#LiveEditHtml-icon a{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
}

#FazCO2Monitor-icon{
    position: relative;
    left: calc(50% - 150px);
    height: 200px;
    width: 200px;
    margin: 50px;
    border: 2px solid gray;
    border-radius: 50%;
    background-image: url("../img/FazCO2Monitor.png");
    background-size: 100%;
    transition: transform 300ms 0s ease, box-shadow 300ms 0s ease;
}

#FazCO2Monitor-icon:hover{
    box-shadow: 0px 0px 16px 4px gray;
    transform: scale(1.2, 1.2) rotateZ(10deg);
}

#FazCO2Monitor-icon a{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
}

#aimDoctor-icon{
    position: relative;
    left: calc(50% - 150px);
    height: 200px;
    width: 200px;
    margin: 50px;
    border: 2px solid gray;
    border-radius: 50%;
    background-image: url("../img/aimDoctor.png");
    background-size: 100%;
    transition: transform 300ms 0s ease, box-shadow 300ms 0s ease;
}

#aimDoctor-icon:hover{
    box-shadow: 0px 0px 16px 4px gray;
    transform: scale(1.2, 1.2) rotateZ(10deg);
}

#aimDoctor-icon a{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
}

#sekigae-icon{
    position: relative;
    left: calc(50% - 150px);
    height: 200px;
    width: 200px;
    margin: 50px;
    border: 2px solid gray;
    border-radius: 50%;
    background-image: url("../img/sekigae.png");
    background-size: 100%;
    transition: transform 300ms 0s ease, box-shadow 300ms 0s ease;
}

#sekigae-icon:hover{
    box-shadow: 0px 0px 16px 4px gray;
    transform: scale(1.2, 1.2) rotateZ(10deg);
}

#sekigae-icon a{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
}


.description-title{
    font-size: 200%;
    border-bottom: 2px solid lightgray;
    margin-bottom: 40px;
    padding-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.description-text{
    animation: description-text-animation 2s ease;
}

@keyframes description-text-animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}