.footer-pre{
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: #000000;
}

.footer-pre a{
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}